.header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 280px;
    background-color: #1F2937;
    color: #F9FAF8;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.right-links {
    display: flex;
    gap: 32px;
}

.title {
    font-weight: 900;
    font-size: 48px;
    margin: 0px;
    color: #F9FAF8;
    flex-wrap: wrap;
}

.subtext {
    margin: 0px;
    color: #F9FAF8;
    flex-wrap: wrap;
}

.main {
    background-color: #1F2937;
    display: flex;
    padding: 100px 280px;
    gap: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.placeholder {
    background-color: #E5E7EB;
    width: 700px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 150px;
    height: 30px;
    margin-top: 8px;
    background-color: #3882F6;
    border-radius: 5px;
    border: solid #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
}

.picture-placeholder {
    width: 180px;
    height: 180px;
    border: solid rgb(55, 55, 194) 4px;
    border-radius: 20px;
    text-align: center;
}

.picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.pictures-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    gap: 8px;
}

#info {
    font-size: 36px;
    font-weight: 900;
    margin-top: 0px;
}

.picture-subtext {
    text-align: center;
    flex-wrap: wrap;
}

.quote-section {
    display: flex;
    padding: 100px 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;    
  }

#author {
    font-size: 26px;
    font-weight: bold;
    color: black;
    font-style: normal;
    align-self: flex-end;
    margin-top: 0px;
}

#quote{
    margin-bottom: 0px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 400px;
    border: solid #3882F6 4px;
    background-color: #3882F6;
    border-radius: 20px;
    width: 1000px;
    height: 150px;

}

#actionBtn {    
        border: solid #F9FAF8;
        font-weight: bold;
        font-size: 16px;
}

.action-section {
    display: flex;
    justify-content: space-evenly;
}

.action-container {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;

}

#call-to-action {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;
}

#action-subtext {
    margin-top: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 120px;
    background-color: #1F2937;
    color: #F9FAF8;
}